.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  padding: 24px 0px;
  color: white;
  margin-top: 96px;
  z-index: 1;
  @include laptop {
    margin-top: 85px;
  }
  @include tablet {
    padding: 0;
    min-height: 930px;
    margin-top: 138px;
  }
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
  }
  &__slider {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2 !important;
    @include tablet {
      height: calc(100% - 403px);
    }
  }
  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__reviews {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    box-shadow: 0 37px 100px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 10px;
    gap: 20px;
    row-gap: 10px;
    color: var(--black);
    max-width: 245px;
    @include mobile {
      right: 50%;
      transform: translateX(50%);
    }
  }
  &__reviews-icon {
    width: 35px;
    height: 35px;
  }
  &__reviews-title {
    font-weight: 500;
    font-size: 20px;
    max-width: 180px;
  }
  &__reviews-stars {
    display: flex;
    gap: 3px;
    width: 100%;
  }
  &__reviews-star {
    width: 45px;
    height: 45px;
    color: var(--primary);
  }
  &__title {
    margin-bottom: 16px;
    color: inherit;
    @include tablet {
      font-size: 24px;
    }
  }
  &__body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 12px 32px;
    border-radius: 8px;
    gap: 32px;
    color: var(--black);
    @include tablet {
      border-radius: 0px;
      padding: 20px;
      gap: 20px;
      row-gap: 32px;
    }
  }
  &__item {
    flex: 1;
    @include laptop {
      flex: 0 1 calc(33% - 20px);
    }
    @include tablet {
      flex-basis: calc(50% - 10px);
    }
  }
  &__item-title {
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 14px;
  }
  &__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: var(--athens);
    gap: 8px;
  }
  &__input-icon {
    width: 20px;
    height: 20px;
  }
  &__input-title {
    font-size: 14px;
    line-height: 129%;
    color: var(--dark);
    flex: 1;
  }
  &__input-arrow {
    width: 10px;
    height: 6px;
  }
  &__btn {
    @include flex-center;
    max-width: 140px;
    width: 100%;
    gap: 12px;
    min-height: 36px;
    @include desktop {
      max-width: 500px;
      height: 51px;
    }
  }
  &__btn-arrow {
    width: 14px;
    height: 10px;
    transform: rotate(-90deg);
  }
}
