<section class="articles">
  <div class="container _min">
    <ul class="list breadcrumbs">
      <li><a href="/">Home</a></li>
      <li>Directions</li>
    </ul>
    <h1 class="title title-2 articles__title">Directions</h1>
    <div class="articles__body">
      <article class="articles__card">
        <img src="@img/artricle.jpg" alt="image" class="articles__card-img" />
        <a href="#" class="articles__card-body">
          <h5 class="articles__card-title">Riga Airport</h5>
          <p class="articles__card-info">
            Riga International Airport is the largest airport in the Baltics, providing regular
            flights, cargo and mail transportation by civil aviation aircraft to Europe and other
            continents.
          </p>
        </a>
      </article>
      <article class="articles__card">
        <img src="@img/artricle.jpg" alt="image" class="articles__card-img" />
        <a href="#" class="articles__card-body">
          <h5 class="articles__card-title">Riga Airport</h5>
          <p class="articles__card-info">
            Riga International Airport is the largest airport in the Baltics, providing regular
            flights, cargo and mail transportation by civil aviation aircraft to Europe and other
            continents.
          </p>
        </a>
      </article>
      <article class="articles__card">
        <img src="@img/artricle.jpg" alt="image" class="articles__card-img" />
        <a href="#" class="articles__card-body">
          <h5 class="articles__card-title">Riga Airport</h5>
          <p class="articles__card-info">
            Riga International Airport is the largest airport in the Baltics, providing regular
            flights, cargo and mail transportation by civil aviation aircraft to Europe and other
            continents.
          </p>
        </a>
      </article>
    </div>
  </div>
</section>
