<footer class="footer">
  <div class="container _min footer__container">
    <div>
      <a href="/" class="footer__logo">
        <img src="@img/logo.svg" alt="logo" class="footer__logo-img" />
      </a>
      <p class="footer__address">
        AndreTransfer IK. Reg Nr 41502039438 Daugavpils, Ģimnāzijas iela 34/36 - 16
      </p>
    </div>
    <nav class="footer__nav">
      <ul class="list footer__list">
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Live Schedule</a>
        </li>
        <li>
          <a href="#">Benefits</a>
        </li>
        <li>
          <a href="#">Successes</a>
        </li>
      </ul>
      <ul class="list footer__list">
        <li>
          <a href="#">Reviews</a>
        </li>
        <li>
          <a href="#">Price</a>
        </li>
        <li>
          <a href="#">Contact us</a>
        </li>
      </ul>
    </nav>
    <ul class="list footer__social">
      <li>
        <a href="#" class="footer__social-btn">
          <svg class="footer__social-icon">
            <use xlink:href="img/icons/icons.svg#icon-inst"></use>
          </svg>
          <span>AndreTransfer </span>
        </a>
      </li>
      <li>
        <a href="#" class="footer__social-btn">
          <svg class="footer__social-icon">
            <use xlink:href="img/icons/icons.svg#icon-wh"></use>
          </svg>
          <span>AndreTransfer</span>
        </a>
      </li>
      <li>
        <a href="#" class="footer__social-btn">
          <svg class="footer__social-icon">
            <use xlink:href="img/icons/icons.svg#icon-fc"></use>
          </svg>
          <span>AndreTransfer</span>
        </a>
      </li>
      <li>
        <a href="mailto:info@andretransfer.lv" class="footer__social-btn">
          <svg class="footer__social-icon">
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <span>info@andretransfer.lv</span>
        </a>
      </li>
      <li>
        <a href="tel:+37126074631" class="footer__social-btn">
          <svg class="footer__social-icon">
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
          <span>+371 26074631</span>
        </a>
      </li>
    </ul>
		<img src="@img/footer.jpg" alt="image" class="footer__img">
  </div>
</footer>
