<section class="pricing">
  <div class="container _min">
    <h2 class="title title-2 pricing__title"><span>Pricing</span></h2>
    <p class="pricing__content">
      When placing an order in another direction, the cost of the trip is calculated individually.
      If you have any questions, please contact us
    </p>
    <div class="pricing__wrapper">
      <div class="pricing__item">
        <h5 class="title pricing__item-title">Nicole Champlin</h5>
        <ul class="list pricing__item-list">
          <li>3:00h on the way</li>
          <li>4 free places</li>
          <li>2 coffe break on request</li>
        </ul>
        <span class="pricing__item-price">100€ +VAT</span>
        <a href="#" class="btn-main pricing__item-btn">
          <span>Book now</span>
          <svg class="pricing__item-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="pricing__item">
        <h5 class="title pricing__item-title">Nicole Champlin</h5>
        <ul class="list pricing__item-list">
          <li>3:00h on the way</li>
          <li>4 free places</li>
          <li>2 coffe break on request</li>
        </ul>
        <span class="pricing__item-price">100€ +VAT</span>
        <a href="#" class="btn-main pricing__item-btn">
          <span>Book now</span>
          <svg class="pricing__item-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="pricing__item">
        <h5 class="title pricing__item-title">Nicole Champlin</h5>
        <ul class="list pricing__item-list">
          <li>3:00h on the way</li>
          <li>4 free places</li>
          <li>2 coffe break on request</li>
        </ul>
        <span class="pricing__item-price">100€ +VAT</span>
        <a href="#" class="btn-main pricing__item-btn">
          <span>Book now</span>
          <svg class="pricing__item-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="pricing__item">
        <h5 class="title pricing__item-title">Nicole Champlin</h5>
        <ul class="list pricing__item-list">
          <li>3:00h on the way</li>
          <li>4 free places</li>
          <li>2 coffe break on request</li>
        </ul>
        <span class="pricing__item-price">100€ +VAT</span>
        <a href="#" class="btn-main pricing__item-btn">
          <span>Book now</span>
          <svg class="pricing__item-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="pricing__gallery">
      <div class="pricing__wrapper-img">
        <img src="@img/prcing.jpg" alt="image" class="pricing__img" />
      </div>
    </div>
  </div>
</section>
