<section class="reviews">
  <div class="container _min reviews__container">
    <div class="reviews__head">
      <div>
        <h2 class="title title-2 reviews__title">Customer <span>Reviews</span></h2>
        <p class="reviews__content">
          Perfect Rating: 5 out of 5 stars on Google based on our customer reviews
        </p>
      </div>
      <a data-da=".reviews__container,743,2" href="#" target="_blank" class="btn-main reviews__btn"
        >Read Google reviews</a
      >
    </div>
    <div class="reviews__body">
      <div class="reviews__gallery">
        <img src="@img/reviews.jpg" alt="image" class="reviews__img" />
        <img src="@img/reviews.jpg" alt="image" class="reviews__img" />
        <img src="@img/reviews.jpg" alt="image" class="reviews__img" />
      </div>
      <div class="reviews__list">
        <a
          href="https://www.google.com/maps/reviews/@55.8706896,26.5181885,17z/data=!3m1!4b1!4m6!14m5!1m4!2m3!1sChZDSUhNMG9nS0VJQ0FnSURkdElmZEVBEAE!2m1!1s0x0:0x2a6ebefdfed9b351?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          class="reviews__item"
        >
          <div class="reviews__item-head">
            <img src="@img/avatar.jpg" alt="avatar" class="reviews__item-avatar" />
            <div class="reviews__item-rating">
              <svg class="reviews__icon-star">
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <span>4.95</span>
            </div>
          </div>
          <h5 class="title reviews__item-title">Nicole Champlin</h5>
          <p class="reviews__item-content">
            Vadim and Oleg were very helpful, punctual and friendly drivers. AndreTransfer is
            efficient, reliable
          </p>
        </a>
        <a
          href="https://www.google.com/maps/reviews/@55.8706896,26.5181885,17z/data=!3m1!4b1!4m6!14m5!1m4!2m3!1sChZDSUhNMG9nS0VJQ0FnSURkdElmZEVBEAE!2m1!1s0x0:0x2a6ebefdfed9b351?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          class="reviews__item"
        >
          <div class="reviews__item-head">
            <img src="@img/avatar.jpg" alt="avatar" class="reviews__item-avatar" />
            <div class="reviews__item-rating">
              <svg class="reviews__icon-star">
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <span>4.95</span>
            </div>
          </div>
          <h5 class="title reviews__item-title">Nicole Champlin</h5>
          <p class="reviews__item-content">
            Vadim and Oleg were very helpful, punctual and friendly drivers. AndreTransfer is
            efficient, reliable
          </p>
        </a>
        <a
          href="https://www.google.com/maps/reviews/@55.8706896,26.5181885,17z/data=!3m1!4b1!4m6!14m5!1m4!2m3!1sChZDSUhNMG9nS0VJQ0FnSURkdElmZEVBEAE!2m1!1s0x0:0x2a6ebefdfed9b351?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          class="reviews__item"
        >
          <div class="reviews__item-head">
            <img src="@img/avatar.jpg" alt="avatar" class="reviews__item-avatar" />
            <div class="reviews__item-rating">
              <svg class="reviews__icon-star">
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <span>4.95</span>
            </div>
          </div>
          <h5 class="title reviews__item-title">Nicole Champlin</h5>
          <p class="reviews__item-content">
            Vadim and Oleg were very helpful, punctual and friendly drivers. AndreTransfer is
            efficient, reliable
          </p>
        </a>
        <a
          href="https://www.google.com/maps/reviews/@55.8706896,26.5181885,17z/data=!3m1!4b1!4m6!14m5!1m4!2m3!1sChZDSUhNMG9nS0VJQ0FnSURkdElmZEVBEAE!2m1!1s0x0:0x2a6ebefdfed9b351?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          class="reviews__item"
        >
          <div class="reviews__item-head">
            <img src="@img/avatar.jpg" alt="avatar" class="reviews__item-avatar" />
            <div class="reviews__item-rating">
              <svg class="reviews__icon-star">
                <use xlink:href="img/icons/icons.svg#icon-star"></use>
              </svg>
              <span>4.95</span>
            </div>
          </div>
          <h5 class="title reviews__item-title">Nicole Champlin</h5>
          <p class="reviews__item-content">
            Vadim and Oleg were very helpful, punctual and friendly drivers. AndreTransfer is
            efficient, reliable
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
