<section class="success">
  <div class="container">
    <div
      class="success__body"
      style="background: url(&quot;@img/success.jpg&quot;) 0 0 / cover no-repeat"
    >
      <div class="success__info">
        <h2 class="title title-2 success__title">Our successes</h2>
        <p class="success__content">
          In addition, we constantly update our fleet, deliver the car on time and always
          communicate with the customer until the car is delivered. We are always open to long-term
          cooperation on mutually beneficial terms. We will always offer you the best solution
        </p>
        <ul class="list success__list">
          <li class="success__item">
            <span class="success__number">3608</span>
            <p class="success__item-content">Satisfied customers</p>
          </li>
          <li class="success__item">
            <span class="success__number">3488</span>
            <p class="success__item-content">Airport transfers</p>
          </li>
          <li class="success__item">
            <span class="success__number">215</span>
            <p class="success__item-content">Hotel transfers</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
