.dropdown {
  position: relative;
  &.open {
    .dropdown__item {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__item {
    position: absolute;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
    min-width: 150px;
    background-color: white;
    border-radius: 12px;
    color: var(--black);
    margin-top: 5px;
    padding: 12px 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: transform .4s ease, opacity .4s ease;
  }
}
