.g-reviews {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 37px 100px 0 rgba(0, 0, 0, 0.12);
  right: 20px;
  bottom: 20px;
  z-index: 100;
  transform: translateX(200px);
  transition: transform 0.2s ease-in-out;
  &.active {
    transform: translateX(0);
  }
  &__icon {
    width: 30px;
    height: 30px;
  }
  &__title {
    display: block;
    font-weight: 500;
    font-size: 20px;
  }
}
